<a href="{{ path(route, routeParams|default({}) ) }}" class="p-3 rounded-xl hover:text-white transition-colors {{ app.request.attributes.get('_route') == route ? 'bg-white/10 text-white' : 'text-slate-400' }}">
    {{ ux_icon('lucide:' ~ icon, {class: 'w-6 h-6'}) }}
</a>